.Bill-intro {
  text-align: center;
}

.Bill-logo {
  animation: Bill-logo-spin infinite 20s linear;
  height: 80px;
}

.Bill-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Bill-intro {
  font-size: large;
}

#create-new-bill-btn {
  margin-top: 1em;
}

.well-lg {
  background-color: rgba(245, 245, 245, 0.7) !important;
}

.lead {
  font-size: 2em !important;
}

.hide-shortlink, .hide-copy-link {
  display: none;
}

.show-shortlink, .show-copy-link {
  display: block;
}

.show-shortlink, .hideshortlink {
  height: 30px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  overflow: auto;
  outline: none;
  background:rgba(0,0,0,0);
}
